// need to use !important to override the default mjx-container[jax="CHTML"][display="true"] selector

.MathJax[display] {
    background-color: hsl(195, 25, 35);
    color: hsl(195, 5, 80);
    border-radius: 1em;
    padding: 1rem;
}

.answer {
    background-color: #d3e0c1;
    padding: 1rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 6rem;
}

.pending {
    background-color: #fdefb2;
    padding: 1rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 6rem;
}


.urgentx {
    background-color: #EAADAF;
    padding: 1rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
    margin-bottom: 6rem;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }