// need to use !important to override the default mjx-container[jax="CHTML"][display="true"] selector

.MathJax[display] {
    background-color: hsl(195, 25, 35);
    color: hsl(195, 5, 80);
    border-radius: 1em;
    padding: 1rem;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-center-large {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem; 
    width: 80%;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // max-width: 100%;
}

// ----------------- CONTENT BLOCKS -----------------

.svg-container {
    background-color: #e8f0f3;
}

.sub-block {
    padding: 1.5rem;

    & .title { // nesting
        background-color: transparent;
        font-size: 24px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}

hr.small {
    margin-top: .5rem;
    margin-bottom: 1rem;
    border: 0;
    height: 0;
    border-top: 1px solid hsla(196, 25%, 35%, 0.25);
}

.small-top-m {
    margin-top: 0.5rem;
}

.small-bot-m {
    margin-bottom: 0.5rem;
}

.med-top-m {
    margin-top: 2rem;
}

.med-bot-m {
    margin-bottom: 2rem;
}

.large-top-m {
    margin-top: 5rem;
}

.large-bot-m {
    margin-bottom: 5rem;
}

// ----------------- COLORINGS -----------------

.answer {
    background-color: hsl(106, 33%, 82%);
}

.official-answer {
    background-color: hsl(107, 33%, 71%);
    border-style: solid;
    border-width: 3px;
    border-color: green;
}

.pending {
    background-color: #ffdbb4;
}

.urgent {
    background-color: #fbcfa0;
}

.x-urgent {
    background-color: #e09396;
    border-style: solid;
    border-width: 3px;
    border-color: red;
}

.neutral {
    background-color: #b5d4dd;
}

.neutral-alt {
    background-color: #d5cced;
}

blockquote {
    margin-left: 1rem;
    margin-right: .5rem;
    border-left: 1px rgba(0, 0, 0, 0.324) solid;
    font-family: inherit;
    font-size: 1em;
  }
